# Intellij IDEA files and folders
*/*.iml
.idea/

# Apache Maven folders
target/

# Build files like *.class, *.jar
*.jar
*.war
*.ear
*.class
*.log
*_UNDEFINED
*.zip
*.rar
*.7zip
*.gz
*.tar

# Eclipse files and folders
.metadata/
.settings/
.classpath
.project
.springBeans

# Subversion / SVN folders
.svn/

# Classes or build folder
classes/
bin/
output/

Thumbs.db